.product-form__container {
	min-width: 1440px;
	margin: 20px auto;
	padding: 30px 150px;
	background-color: #f4f5f9;

	.product-form {
		display: flex;
		flex-direction: column;
		gap: 5px;
		color: #999;
		font-weight: 500;

		input,
		textarea {
			padding: 5px;
			margin-bottom: 10px;
			font-family: Arial, Helvetica, sans-serif;
			font-size: 16px;
			border: 1px solid #e1e1e1;
		}

		#photos {
			border: none;
		}

		input:focus,
		textarea:focus {
			outline: none;
		}

		button {
			width: 70px;
			background-color: #0075e3;
			color: #fff;
			border: none;
			padding: 10px;
			border-radius: 3px;
			font-weight: 600;
		}

		button:hover {
			cursor: pointer;
		}
	}
}
